@import '../../../tokens/index.css';

.data-table {
  display: flex;
  flex-direction: column;
  background: var(--color-bg-default);
  border-radius: var(--radius-medium);
  border: var(--border-default) solid var(--color-border-muted);
}

.data-table__toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-small);
  padding: var(--spacing-small) var(--spacing-medium);
  border-bottom: var(--border-default) solid var(--color-border-minimal);
}

.data-table__filters {
  display: flex;
  align-items: center;
  gap: var(--spacing-xsmall);
}

.data-table__body {
  position: relative;
}
