@import '../../../tokens/index.css';
@import '../../atoms/Container/Container.css';

.global-layout {
  display: flex;
  min-height: 100vh;
}


.global-layout__main {
  flex: 1;
  background: var(--color-bg-secondary);
  --btn-minimal-bg: var(--color-bg-default);
  --color-btn-minimal-hover-bg: var(--color-bg-default);
  padding: var(--spacing-medium);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.global-layout__body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
}
