@import '../../../tokens/index.css';

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-xlarge);
  padding: var(--spacing-large) 0;
}

.page-header__content {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.page-header__actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-xsmall);
  flex-shrink: 0;
}
